# Workflows that run on pull requests. These are primarily CI checks for
# linting, formatting, testing, etc.
#
# TODO: Swap to hurry for caching!
name: PR

on:
    pull_request:
        branches: [main]
        paths-ignore:
            - "**/*.md"
    merge_group:
        types: [checks_requested]
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
    cancel-in-progress: true

env:
    CARGO_TERM_COLOR: always
    SQLX_OFFLINE: 1
    COURIER_DATABASE_URL: postgres://postgres:postgres@localhost:5432/courier_test

jobs:
    rust:
        name: Build, check, and test Rust
        runs-on: ubuntu-latest

        services:
            postgres:
                image: postgres:16
                env:
                    POSTGRES_PASSWORD: postgres
                    POSTGRES_DB: courier_test
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432

        steps:
            - name: Install Rust
              run: |
                  rustup toolchain install nightly
                  rustup component add --toolchain nightly rustfmt
                  rustup show
            - uses: taiki-e/install-action@nextest
            - uses: actions/checkout@v4

            - uses: Swatinem/rust-cache@v2

            - name: Check format
              run: cargo +nightly fmt --all --check

            - name: Check clippy
              run: cargo clippy -p hurry -p courier

            - name: Setup hurry-dev
              uses: ./.github/actions/hurry-dev

            - name: Run tests
              run: cargo nextest run -p hurry -p courier

            - name: Run full build
              run: cargo build -p hurry -p courier
