# Workflows that run on pull requests. These are primarily CI checks for
# linting, formatting, testing, etc.
name: PR

on:
    pull_request:
        branches: [main]
        paths-ignore:
            - "**/*.md"
    merge_group:
        types: [checks_requested]
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number }}-pr
    cancel-in-progress: true

env:
    CARGO_TERM_COLOR: always
    COURIER_DATABASE_URL: postgres://postgres:postgres@localhost:5432/courier_test

jobs:
    format:
        name: Check format
        runs-on: ubuntu-latest

        steps:
            - name: Install Rust nightly
              run: |
                  rustup toolchain install nightly
                  rustup component add --toolchain nightly rustfmt
            - uses: actions/checkout@v4
            - run: cargo +nightly fmt --all --check

    clippy:
        name: Check clippy
        runs-on: ubuntu-latest

        steps:
            - name: Install Rust
              run: rustup show
            - uses: actions/checkout@v4
            - uses: ./.github/actions/hurry-install
            - run: hurry cargo clippy -p hurry -p courier
              env:
                  SQLX_OFFLINE: true
                  HURRY_API_TOKEN: ${{ secrets.HURRY_API_TOKEN }}

    test:
        name: Run tests
        runs-on: ubuntu-latest-l

        services:
            postgres:
                image: postgres:16
                env:
                    POSTGRES_PASSWORD: postgres
                    POSTGRES_DB: courier_test
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432

        steps:
            - name: Install Rust
              run: rustup show
            - uses: taiki-e/install-action@v2
              with:
                  tool: nextest,sqlx-cli
                  checksum: true
            - uses: actions/checkout@v4
            - uses: ./.github/actions/hurry-install
            - run: cargo sqlx migrate run --source packages/courier/schema/migrations/ --database-url $COURIER_DATABASE_URL
            - name: Setup hurry-dev
              uses: ./.github/actions/hurry-dev
              with:
                  hurry-api-token: ${{ secrets.HURRY_API_TOKEN }}
            - run: hurry cargo nextest run -p hurry -p courier
              env:
                  HURRY_API_TOKEN: ${{ secrets.HURRY_API_TOKEN }}

    build:
        name: Run full build
        runs-on: ubuntu-latest

        steps:
            - name: Install Rust
              run: rustup show
            - uses: actions/checkout@v4
            - uses: ./.github/actions/hurry-install
            - name: Setup hurry-dev
              uses: ./.github/actions/hurry-dev
              with:
                  hurry-api-token: ${{ secrets.HURRY_API_TOKEN }}
            - run: hurry cargo build -p hurry -p courier --verbose
              env:
                  SQLX_OFFLINE: true
                  HURRY_API_TOKEN: ${{ secrets.HURRY_API_TOKEN }}

    hurry-rust:
        name: Build with Hurry and check cache restores
        runs-on: ubuntu-latest

        steps:
            - name: Install Rust
              run: |
                  rustup toolchain install nightly
                  rustup component add --toolchain nightly rustfmt
                  rustup show
            - uses: actions/checkout@v4
            - name: Setup hurry-dev
              uses: ./.github/actions/hurry-dev
              with:
                  hurry-api-token: ${{ secrets.HURRY_API_TOKEN }}

            - name: Populate cache if needed
              env:
                  HURRY_API_TOKEN: ${{ secrets.HURRY_API_TOKEN }}
                  SQLX_OFFLINE: true
              run: hurry-dev cargo build --verbose

            - name: Check that cache restores are fresh
              env:
                  HURRY_API_TOKEN: ${{ secrets.HURRY_API_TOKEN }}
                  HURRY_LOG: hurry::cmd::debug::check=info
              run: |
                  cargo clean
                  hurry-dev debug check
